.square {
  border: 1px solid black;
  width: 2em;
  height: 2em;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.selected {
  background: #4169e1;
}

.highlighted {
  background: #73c2fb;
}

.fixed {
  font-weight: normal;
}

.wrong {
  background: rgb(153, 0, 0);
}